body {
    background: #333;
    text-align: center;
}

.banner {
    color: white;
    font-family: sans-serif;
    font-size: 60px;
}

.container {
    margin-top: 15px;
}

.quarter-button {
	display: inline-block;
}

.green {
    height: 250px;
    width: 250px;
    background-color: #090;
    border-radius: 250px 0 0 0;
    -moz-border-radius: 250px 0 0 0;
    -webkit-border-radius: 250px 0 0 0;
}

.red {
    height: 250px;
    width: 250px;
    background-color: #900;
    border-radius: 0 250px 0 0;
    -moz-border-radius: 0 250px 0 0;
    -webkit-border-radius: 0 250px 0 0;
}

.yellow {
    height: 250px;
    width: 250px;
    background-color: #990;
    border-radius: 0 0 0 250px;
    -moz-border-radius: 0 0 0 250px;
    -webkit-border-radius: 0 0 0 250px;
}

.blue {
    height: 250px;
    width: 250px;
    background-color: #009;
    border-radius: 0 0 250px 0;
    -moz-border-radius: 0 0 250px 0;
    -webkit-border-radius: 0 0 250px 0;
}
