.quarter-button {
	display: inline-block;
}

.top-left {
    height: 250px;
    width: 250px;
    background-color: #006100;
    border-radius: 250px 0 0 0;
    -moz-border-radius: 250px 0 0 0;
    -webkit-border-radius: 250px 0 0 0;
}

.top-right {
    height: 250px;
    width: 250px;
    background-color: #C60000;
    border-radius: 0 250px 0 0;
    -moz-border-radius: 0 250px 0 0;
    -webkit-border-radius: 0 250px 0 0;
}

.btm-left {
    height: 250px;
    width: 250px;
    background-color: #E0CC00;
    border-radius: 0 0 0 250px;
    -moz-border-radius: 0 0 0 250px;
    -webkit-border-radius: 0 0 0 250px;
}

.btm-right {
    height: 250px;
    width: 250px;
    background-color: #1507A3;
    border-radius: 0 0 250px 0;
    -moz-border-radius: 0 0 250px 0;
    -webkit-border-radius: 0 0 250px 0;
}
